/* Reset básico do Eric Meyer http://meyerweb.com/eric/tools/css/reset/
-----------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fontes.
-----------------------------------------------------------------------------*/

/*@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.eot');
    src: url('fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato-bold-webfont.ttf') format('truetype'),
         url('fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'lato_blackitalic';
    src: url('fonts/lato-blackitalic-webfont.eot');
    src: url('fonts/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-blackitalic-webfont.woff') format('woff'),
         url('fonts/lato-blackitalic-webfont.ttf') format('truetype'),
         url('fonts/lato-blackitalic-webfont.svg#lato_blackitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
  font-family: 'lato_blackregular';
  src: url('fonts/lato-black-webfont.eot');
  src: url('fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-black-webfont.woff') format('woff'),
    url('fonts/lato-black-webfont.ttf') format('truetype'),
    url('fonts/lato-black-webfont.svg#lato_blackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
    font-family: 'latobold_italic';
    src: url('fonts/lato-bolditalic-webfont.eot');
    src: url('fonts/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bolditalic-webfont.woff') format('woff'),
         url('fonts/lato-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'lato_hairlineregular';
    src: url('fonts/lato-hairline-webfont.eot');
    src: url('fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-hairline-webfont.woff') format('woff'),
         url('fonts/lato-hairline-webfont.ttf') format('truetype'),
         url('fonts/lato-hairline-webfont.svg#lato_hairlineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'lato_hairlineitalic';
    src: url('fonts/lato-hairlineitalic-webfont.eot');
    src: url('fonts/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-hairlineitalic-webfont.woff') format('woff'),
         url('fonts/lato-hairlineitalic-webfont.ttf') format('truetype'),
         url('fonts/lato-hairlineitalic-webfont.svg#lato_hairlineitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'latoitalic';
    src: url('fonts/lato-italic-webfont.eot');
    src: url('fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-italic-webfont.woff') format('woff'),
         url('fonts/lato-italic-webfont.ttf') format('truetype'),
         url('fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
  font-family: 'lato_lightregular';
  src: url('fonts/lato-light-webfont.eot');
  src: url('fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-light-webfont.woff') format('woff'),
    url('fonts/lato-light-webfont.ttf') format('truetype'),
    url('fonts/lato-light-webfont.svg#lato_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
    font-family: 'lato_lightitalic';
    src: url('fonts/lato-lightitalic-webfont.eot');
    src: url('fonts/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-lightitalic-webfont.woff') format('woff'),
         url('fonts/lato-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/lato-lightitalic-webfont.svg#lato_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
  font-family: 'latoregular';
  src: url('fonts/lato-regular-webfont.eot');
  src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-regular-webfont.woff') format('woff'),
    url('fonts/lato-regular-webfont.ttf') format('truetype'),
    url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Estilos base.
-----------------------------------------------------------------------------*/
body {
  font-family: 'latoregular', 'PT Sans', sans-serif;
   min-height: 740px;
  background: rgb(215, 215, 215);

  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(140, 140, 140)), to(rgb(90, 90, 90)));
  background: -webkit-radial-gradient(rgb(140, 140, 140), rgb(90, 90, 90));
  background:    -moz-radial-gradient(rgb(140, 140, 140), rgb(90, 90, 90));
  background:     -ms-radial-gradient(rgb(140, 140, 140), rgb(90, 90, 90));
  background:      -o-radial-gradient(rgb(140, 140, 140), rgb(90, 90, 90));
  background:         radial-gradient(rgb(140, 140, 140), rgb(90, 90, 90));
}

b, strong { font-weight: bold }
i, em { font-style: italic }

a,
h1,
h2,
h3,
#titulo h1,
#titulo-saidera h1 {
  color: #FF8B01;
  text-shadow: 1px 1px 2px #222;
}

.footnote,
footer {
  color: #dedede;
}

.slide {
  color: #FF8B01;
}

h1,
table,
b,
strong {
  color: #dedede;;
}

h2 {
  color: #aaa;
}

a {
  text-decoration: none;
  padding: 0 0.1em;
  /*background: rgba(255,255,255,0.5);*/
  border-radius: 0.2em;

  -webkit-transition: 0.5s;
  -moz-transition:    0.5s;
  -ms-transition:     0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1,
h2 {
  text-align: center;
  margin: 0.5em 0 0 0;
  font-family: 'lato_blackregular';
}

h2, h3 {
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 0.5em;
  text-align: center;
}

h2.left,
h3.left {
  text-align: left;
}

h1 {
  font-size: 40px;

  -webkit-transform: translateZ(50px);
  -moz-transform:    translateZ(50px);
  -ms-transform:     translateZ(50px);
  -o-transform:      translateZ(50px);
  transform:         translateZ(50px);
}

h2 {
  font-size: 32px;

  -webkit-transform: translateZ(20px);
  -moz-transform:    translateZ(20px);
  -ms-transform:     translateZ(20px);
  -o-transform:      translateZ(20px);
  transform:         translateZ(20px);
}

ul {
  font-size: 1.4em;
  line-height: 1.4em;
}

ul.med {
  font-size: 1.2em;
  line-height: 1em;
}

ul.small {
  font-size: 0.8em;
}

ul.smallish {
  font-size: 0.9em;
}

ul.huge {
  font-size: 2em;
}

img.center {
  margin: 0 auto;
  display: block;
  text-align: center;
}

ul li {
  list-style-image: url('../images/bullet-bill-small.png');
  margin: 0.8em 0 0 0;
}

ul.small li {
  margin: 0.6em 0 0 0;
}

ul.huge li {
  margin: 1.2em 0 0 0;
}

footer {
  display: none;
  height: 20px;
  font-size: 18px;
  position: absolute;
  left: 10px;
  bottom: 12px;
  width: 100%;
}

span.brand-txt {
  position: relative;
  top: -5px;
  left: 10px;
}

img.brand-img {
  height: 20px;
  width: 20px;
}

footer .branding {
  float: left;
  width: 200px;
}

footer .footer-date {
  float: right;
  text-align: right;
  margin-right: 30px;
}

table {
  margin-top: 20px;
}

table, td, th {
  border: 1px solid #333;
  text-align: center;
}

.breather {
  margin-top: 60px;
}

.mini-breather {
  margin-top: 40px;
}

span.footnote {
  height: 14px;
  font-size: 16px;
  position: absolute;
  left: 40px;
  bottom: 60px;
  width: 100%;
}

th {
  font-weight: bold;
}

th, td {
  padding: 5px;
}

td {
  /*font-family: 'lato_lightregular';*/
  font-size: 22px;
}

.step footer {
  display: block;
}

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;

  box-sizing:         border-box;
  font-family: 'latoregular', 'PT Serif', georgia, serif;
  font-size: 48px;
  line-height: 1.5;
}

.impress-enabled .step {
  margin: 0;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
  display: block;

  width: 900px;
  height: 700px;
  padding: 40px 60px;

  /*background: url('../images/creampaper.png') 0 0;*/
  background: url('../images/dark_wall.png') 0 0;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

  font-family: 'latoregular', 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
}

.slide.code {
  line-height: 1.2em;
  padding: 0;
  background: transparent;
  letter-spacing: 0;
  text-shadow: 0 0 0 transparent;
  overflow-y: scroll;
}

.slide.code code.rainbow {
  line-height: 1.2em;
  padding: 0;
  position: relative;
  /*left: -70px;*/
  top: -10px;
}

.slide q {
  display: block;
  font-size: 50px;
  line-height: 72px;

  margin-top: 100px;
}

.slide q strong {
  white-space: nowrap;
}

.content {
  padding: 0.5em 0.5em 0;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

/* Mensagem de erro caso o impress.js não consiga rodar.
-----------------------------------------------------------------------------*/
.fallback-message {
  font-family: 'latoregular', sans-serif;
  line-height: 1.3;

  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;

  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}

.fallback-message p {
  margin-bottom: 10px;
}

.impress-supported .fallback-message {
  display: none;
}

/* Dica de navegação.
-----------------------------------------------------------------------------*/
.hint {
  display: none;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 200px;

  background: rgba(0,0,0,0.5);
  color: #EEE;
  text-align: center;

  font-size: 50px;
  padding: 20px;

  z-index: 100;

  opacity: 0;

  -webkit-transform: translateY(400px);
  -moz-transform:    translateY(400px);
  -ms-transform:     translateY(400px);
  -o-transform:      translateY(400px);
  transform:         translateY(400px);

  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
  -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
  -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
  transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint { display: block }

.impress-on-bored .hint {
  opacity: 1;

  -webkit-transform: translateY(0px);
  -moz-transform:    translateY(0px);
  -ms-transform:     translateY(0px);
  -o-transform:      translateY(0px);
  transform:         translateY(0px);

  -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
  -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
  -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
  -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
  transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

/* Slides.
-----------------------------------------------------------------------------*/

img.drupal-brasil-logo {
  height: 380px;
  display: block;
  float: left;
  margin-left: 80px;
}

img.phpnrio-logo {
  float: right;
  margin-top: 80px;
  margin-right: 50px;
}

div.logo-container {
  float: none;
  clear: both;
  height: 380px;
  margin: 40px 0 80px 0;
}

#sobre div.content {
  float: left;
  width: 52%;
}

#alex {
  float: right;
  width: 40%;
  margin-top: 30px;
}

div.social-icons {
  margin: 60px auto 0;
  text-align: center;
}

img.social-icon {
  margin: 0 80px;
}